.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #f0f0f0;
  padding: 20px;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.explore-button {
  padding: 10px 20px;
  background-color: #bd081c;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.explore-button:hover {
  background-color: #8c0615;
}

.hero-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-left: 20px; /* Adjust as needed */
}

